@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.App-header {
  background-color: #eb6564;
  width: 50%;
}
.App {
  display: flex;
  justify-content: center;
}
code {
  font-family: "Poppins", sans-serif;
}
.bnblogo {
  width: 100px;
}
.heading {
  font-weight: 600;
  font-size: 65px;
}
